<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinkmill.react-europe" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>ReactEurope</name>

	<description>
		ReactEurope Conference app - list the schedule, speakers, and event info.
	</description>

	<author email="hello@thinkmill.com.au" href="http://www.thinkmill.com.au">
		Thinkmill Team
	</author>

	<content src="index.html" />
	<access origin="*" />

	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<!-- ANDROID -->
	<platform name="android">
		<icon src="resources/icons/android.png" density="ldpi" />
		<icon src="resources/icons/android.png" density="mdpi" />
		<icon src="resources/icons/android.png" density="hdpi" />
		<icon src="resources/icons/android.png" density="xhdpi" />

		<splash src="resources/splash/android.png" density="ldpi" />
		<splash src="resources/splash/android.png" density="mdpi" />
		<splash src="resources/splash/android.png" density="hdpi" />
		<splash src="resources/splash/android.png" density="xhdpi" />

		<!-- CODEPUSH -->
		<!-- Production -->
		<preference name="CodePushDeploymentKey" value="3dC4K2JZ2MY2RXkdsdxe8xPTxwLaN1h1Lr9zb" />
		<!-- Staging: Un12wp6Bw3_IhrzfyQBhowpA_p_vN1h1Lr9zb -->
	</platform>

	<!-- IOS -->
	<platform name="ios">
		<!-- CODEPUSH -->
		<!-- Production -->
		<preference name="CodePushDeploymentKey" value="M5thQofU_KiBb2g0lIj2M1RJcx46N1h1Lr9zb" />
		<!-- Staging: vnXK_Iq7uZcga27gFHA4TixA06OKN1h1Lr9zb -->
	</platform>

	<!-- PLUGINS -->
	<plugin name="com.ionic.keyboard" spec="^1.0.4" />
	<plugin name="cordova-plugin-appavailability" spec="^0.4.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="^1.0.0" />
	<plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
	<plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
	<plugin name="cordova-plugin-vibration" spec="^1.1.0" />
	<plugin name="cordova-plugin-code-push" version="1.7.1-beta" />
	<plugin name="cordova-plugin-whitelist" spec="^1.1.0" />
	<plugin name="nl.x-services.plugins.socialsharing" spec="^4.3.18" />
	<plugin name="phonegap-plugin-barcodescanner" spec="^3.1.0" />
</widget>
